.chats {
    max-width: 700px;
    flex: 1;                /* Allow this area to take up all middle space */
    overflow-y: auto;       /* Enable vertical scrolling */
    padding: 2rem;          /* Adjusted from 8rem for better visibility */
    margin: 0 auto;         /* Center the chat column */

    /* Hide scrollbar for Chrome, Safari and Opera */
    -ms-overflow-style: smooth;  /* IE and Edge */
    scrollbar-width: smooth;     /* Firefox */
}

.chats::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, and Edge */
}

.userDiv {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}


.gptDiv {
    text-align: left;
    font-size: 0.9rem;
}

.userMessage {
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: auto;
    max-width: 80%;
    width: fit-content;
    align-self: flex-end;
}

.hljs {
    border-radius: 14px !important;
}

pre {
    white-space: pre-wrap;
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
    .chats {
        padding: 1rem;
        max-width: 100%;
    }
    .userMessage {
        max-width: 90%;
    }
}